/******************************************
GENERAL
*******************************************/

.wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 1100px;
}

/*******************************************
NAV
********************************************/


/*******************************************
HERO
********************************************/

.hero {
    background-color: #999;
    padding: 80px 0px;
    height: 400px;
}
.button.success {
    background-color: orange;
}

/*******************************************
MAIN CONTENT
********************************************/

.main {
    padding: 80px 0px;
}

/*******************************************
FOTTER
********************************************/

footer {
    height: 300px;
    background-color: #222;
    padding: 80px 0px;
}
footer a {
    display: block;
}
body {
    background-color: #000000;
}
.left {
    padding: 34px;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
}
.menu a {
    color: #fff;
}

}
.middl {
    font-size: 1em;
}
.middl li {
    transition: 1s;
    transform: translateX(-11px);
}
.middl li:hover {
    transition: 2s;
    background-color: darkorange;
    transform: translateX(11px);
}
.row {
    max-width: 1350px;
}
.bg {
    background-color: yellow;
}
.menu--shylock {
    position: fixed;
}
.one {
    float: right;
}
p {
    color: #fff;
}
.tper {
    text-align: right;
}
.secondary {
    transition: 1s;
    background-color: #000000;
    border: solid 2px #fff;
}
.secondary a {
    color: #fff;
}
.secondary:hover {
    transition: 1s;
    border-color: blue;
}
