/******************************************
GENERAL
*******************************************/

.wrap {
    width: 90%;
    margin: 0 auto;
    max-width: 1090px;
}

/*******************************************
NAV
********************************************/


/*******************************************
HERO
********************************************/

.hero {
    background-color: #999;
    padding: 80px 0px;
    height: 400px;
}
.button.success {
    background-color: orange;
}

/*******************************************
MAIN CONTENT
********************************************/

.main {
    padding: 80px 0px;
}

/*******************************************
FOTTER
********************************************/

footer {
    height: 300px;
    background-color: #222;
    padding: 80px 0px;
}
footer a {
    display: block;
}
body {
    background-color: #000000;
}
.m {
    background-color: #000000;
}
.left {
    padding-left: 34px;
    padding: 34px;
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
}
.menu a {
    color: #fff;
}

}
.middl {
    font-size: 1em;
    background-color: darkred;
}
.middl .I {
    transition: 1s;
    transform: translateX(-11px);
}
.middl .I:hover {
    border-bottom-right-radius: 35px;
    transition: 2s;
    background-color: aqua;
    transform: translateX(11px);
}
.middl .II {
    transition: 1s;
    transform: translateX(-11px);
}
.middl .II:hover {
    border-bottom-right-radius: 35px;
    transition: 2s;
    background-color: red;
    transform: translateX(11px);
}
.middl .III {
    transition: 1s;
    transform: translateX(-11px);
}
.middl .III:hover {
    border-bottom-right-radius: 35px;
    transition: 2s;
    background-color: red;
    transform: translateX(11px);
}
.middl .IV {
    transition: 1s;
    transform: translateX(-11px);
}
.middl .IV:hover {
    border-bottom-right-radius: 35px;
    transition: 2s;
    background-color: red;
    transform: translateX(11px);
}
.middl .V {
    transition: 1s;
    transform: translateX(-11px);
}
.middl .V:hover {
    border-bottom-right-radius: 35px;
    transition: 2s;
    background-color: red;
    transform: translateX(11px);
}
.middl .IX {
    transition: 1s;
    transform: translateX(-11px);
}
.middl .IX:hover {
    border-bottom-right-radius: 35px;
    transition: 2s;
    background-color: #42FE41;
    transform: translateX(11px);
}
span:hover {
    color: transparent;
}
.row {
    max-width: 100%;
    ;
}
.bg {
    background-color: yellow;
}
.menu--shylock {
    position: fixed;
}
.one {
    float: right;
}
p {
    color: #fff;
}
.tper {
    text-align: right;
}
.secondary {
    margin-top: 35px;
    padding: 13px;
    transition: 1s;
    background-color: #000000;
    border: solid 2px #fff;
}
.secondary a {
    color: #fff;
}
.secondary:hover {
    transition: 1s;
    border-color: blue;
}
.o:hover {
    background-color: blue;
}
.tw:hover {
    background-color: #F0E13E;
}
.thr:hover {
    background-color: #09b9bc;
}
.first {
    font-size: 2em;
    font-weight: 800;
}
.log li {
    list-style: none;
    display: inline-block;
}
.log img {
    width: 200px;
    height: 200px;
}
.om {
    /*    padding-top: 200px;*/
}
h2 {
    color: #fff;
    font-weight: 100;
}
.me p {
    font-size: em;
}
.clol {
    background-color: #000000;
}
.background {
    background-image: url(../images/antarctic_landscape-wallpaper-1366x768.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.head {
    height: 144px;
    width: 605px;
    max-width: 100%;
    font-family: 'Cairo', sans-serif;
    font-size: 91px;
    font-weight: normal;
    letter-spacing: -1px;
    word-spacing: 0;
    line-height: 72.8px;
    text-align: center;
    text-transform: capitalize;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.76);
}

/* small screens*/
@media (max-width:980px) {
    .menu--shylock {
        display: none;
    }
    .head {
        line-height: 45px;
        /*        width: 304px;*/
        font-size: 60px;
    }
    .arrow {
        display: none;
    }
}

/*nav bar*/

/* Common styles for all menus */
.menu {
    line-height: 1;
    margin: 0 auto 3em;
}
.menu__list {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu__item {
    display: block;
    margin: 1em 0;
}
.menu__link {
    font-size: 1.05em;
    font-weight: bold;
    display: block;
    padding: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu__link:hover,
.menu__link:focus {
    outline: none;
}

/* Shylock (by @benhanks040888) */
.menu--shylock .menu__link {
    position: relative;
    margin: 0 1em;
    padding-right: 0;
    padding-left: 0;
    color: #fff;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}
.menu--shylock .menu__item--current .menu__link,
.menu--shylock .menu__item--current .menu__link:hover,
.menu--shylock .menu__item--current .menu__link:focus {
    color: #d94f5c;
}
.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.menu--shylock .menu__item--current .menu__link::before {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.menu--shylock .menu__link:hover,
.menu--shylock .menu__link:focus {
    color: #b5b5b5;
}
.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    -webkit-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transform-origin: center left;
    transform-origin: center left;
    -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
    transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.menu--shylock .menu__link::before {
    background: #d94f5c;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.menu--shylock .menu__link::after {
    background: #d94f5c;
}

/*responsive youtube*/
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */

    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-text p {
    font-size: 13px;
    font-weight: blod;
    line-height: 18.2px;
    word-spacing: 0;
}
.video-text h2 {
    margin-top: 8px;
    font-size: 15.6px;
    font-weight: 700;
    line-height: 18.72px;
    letter-spacing: 0.234px;
    word-spacing: 0;
    text-transform: capitalize;
}
.video-text-ticket a {
    color: #FF6953;
    font-size: 15.6px;
    letter-spacing: 0.234px;
    font-weight: 600;
    line-height: 18.72px;
    text-transform: capitalize;
}
.video-text a {
    color: #FF6953;
    font-size: 13px;
    font-weight: 600;
    line-height: 18.2px;
    word-spacing: 0;
}
.lin-up p {
    /*    padding: 6px;*/

    border: solid 10px #fff;
    color: #000;
    background-color: #fff;
    font-family: 'Cairo', sans-serif;
    font-size: 91px;
    font-weight: normal;
    letter-spacing: -1px;
    word-spacing: 0;
    line-height: 72.8px;
    text-align: center;
    text-transform: capitalize;
}
.background02 {
    background-image: url(../images/festival02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
