.wrap{width:90%;margin:0 auto;max-width:1090px;}
.hero{background-color:#999;padding:80px 0px;height:400px;}
.button.success{background-color:orange;}
.main{padding:80px 0px;}
footer{height:300px;background-color:#222;padding:80px 0px;}
footer a{display:block;}
body{background-color:#000000;}
.m{background-color:#000000;}
.left{padding-left:34px;padding:34px;font-size:1.5em;font-weight:700;color:#fff;}
.menu a{color:#fff;}
}
.middl{font-size:1em;background-color:darkred;}
.middl .I{transition:1s;transform:translateX(-11px);}
.middl .I:hover{border-bottom-right-radius:35px;transition:2s;background-color:aqua;transform:translateX(11px);}
.middl .II{transition:1s;transform:translateX(-11px);}
.middl .II:hover{border-bottom-right-radius:35px;transition:2s;background-color:red;transform:translateX(11px);}
.middl .III{transition:1s;transform:translateX(-11px);}
.middl .III:hover{border-bottom-right-radius:35px;transition:2s;background-color:red;transform:translateX(11px);}
.middl .IV{transition:1s;transform:translateX(-11px);}
.middl .IV:hover{border-bottom-right-radius:35px;transition:2s;background-color:red;transform:translateX(11px);}
.middl .V{transition:1s;transform:translateX(-11px);}
.middl .V:hover{border-bottom-right-radius:35px;transition:2s;background-color:red;transform:translateX(11px);}
.middl .IX{transition:1s;transform:translateX(-11px);}
.middl .IX:hover{border-bottom-right-radius:35px;transition:2s;background-color:#42FE41;transform:translateX(11px);}
span:hover{color:transparent;}
.row{max-width:100%;;}
.bg{background-color:yellow;}
.menu--shylock{position:fixed;}
.one{float:right;}
p{color:#fff;}
.tper{text-align:right;}
.secondary{margin-top:35px;padding:13px;transition:1s;background-color:#000000;border:solid 2px #fff;}
.secondary a{color:#fff;}
.secondary:hover{transition:1s;border-color:blue;}
.o:hover{background-color:blue;}
.tw:hover{background-color:#F0E13E;}
.thr:hover{background-color:#09b9bc;}
.first{font-size:2em;font-weight:800;}
.log li{list-style:none;display:inline-block;}
.log img{width:200px;height:200px;}
.om{}
h2{color:#fff;font-weight:100;}
.me p{font-size:em;}
.clol{background-color:#000000;}
.background{background-image:url(../images/color_burst_painting-wallpaper-1366x768.jpg);background-repeat:no-repeat;background-size:cover;background-attachment:fixed;}
.head{height:144px;width:605px;max-width:100%;font-family:'Cairo', sans-serif;font-size:91px;font-weight:normal;letter-spacing:-1px;word-spacing:0;line-height:72.8px;text-align:center;text-transform:capitalize;}
.overlay{background-color:rgba(0, 0, 0, 0.76);}
@media (max-width:980px){.menu--shylock{display:none;}
.head{line-height:45px;font-size:60px;}
.arrow{display:none;}
.lin-up-art-littl p{font-size:14px;}
}
.menu{line-height:1;margin:0 auto 3em;}
.menu__list{position:relative;display:-webkit-flex;display:flex;-webkit-flex-wrap:wrap;flex-wrap:wrap;margin:0;padding:0;list-style:none;z-index:1001;}
.menu__item{display:block;margin:1em 0;}
.menu__link{font-size:1.05em;font-weight:bold;display:block;padding:1em;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
.menu__link:hover,
.menu__link:focus{outline:none;}
.menu--shylock .menu__link{position:relative;margin:0 1em;padding-right:0;padding-left:0;color:#fff;-webkit-transition:color 0.4s;transition:color 0.4s;}
.menu--shylock .menu__item--current .menu__link,
.menu--shylock .menu__item--current .menu__link:hover,
.menu--shylock .menu__item--current .menu__link:focus{color:#d94f5c;}
.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);}
.menu--shylock .menu__item--current .menu__link::before{-webkit-transition-delay:0s;transition-delay:0s;}
.menu--shylock .menu__link:hover,
.menu--shylock .menu__link:focus{color:#b5b5b5;}
.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before{-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1);-webkit-transition-delay:0s;transition-delay:0s;}
.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after{content:'';position:absolute;bottom:0;left:0;width:100%;height:3px;-webkit-transform:scale3d(0, 1, 1);transform:scale3d(0, 1, 1);-webkit-transform-origin:center left;transform-origin:center left;-webkit-transition:transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);transition:transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);}
.menu--shylock .menu__link::before{background:#d94f5c;-webkit-transition-delay:0.4s;transition-delay:0.4s;}
.menu--shylock .menu__link::after{background:#d94f5c;}
.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:96%;height:100%;}
.video-text p{font-size:13px;font-weight:blod;line-height:18.2px;word-spacing:0;}
.video-text h2{margin-top:8px;font-size:15.6px;font-weight:700;line-height:18.72px;letter-spacing:0.234px;word-spacing:0;text-transform:capitalize;}
.video-text-ticket a{color:#FF6953;font-size:15.6px;letter-spacing:0.234px;font-weight:600;line-height:18.72px;text-transform:capitalize;}
.video-text a{color:#FF6953;font-size:13px;font-weight:600;line-height:18.2px;word-spacing:0;}
.lin-up p{border:solid 10px #fff;color:#000;background-color:#fff;font-family:'Cairo', sans-serif;font-size:91px;font-weight:normal;letter-spacing:-1px;word-spacing:0;line-height:72.8px;text-align:center;text-transform:capitalize;}
.background02{background-image:url(../images/festival02.jpg);background-repeat:no-repeat;background-size:cover;background-attachment:fixed;}
figure.effect-milo{background:#2e5d5a;}
figure.effect-milo img{max-width:none;width:-webkit-calc(100% + 60px);width:calc(100% + 60px);opacity:1;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-30px, 0, 0) scale(1.12);transform:translate3d(-30px, 0, 0) scale(1.12);-webkit-backface-visibility:hidden;backface-visibility:hidden;}
figure.effect-milo:hover img{opacity:0.5;-webkit-transform:translate3d(0, 0, 0) scale(1);transform:translate3d(0, 0, 0) scale(1);}
figure.effect-milo h2{position:absolute;right:0;bottom:0;padding:1em 1.2em;}
figure.effect-milo p{padding:0 10px 0 0;width:50%;border-right:1px solid #fff;text-align:right;opacity:0;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-40px, 0, 0);transform:translate3d(-40px, 0, 0);}
figure.effect-milo:hover p{opacity:1;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.grid{position:relative;margin:0 auto;padding-top:1em;max-width:1000px;list-style:none;text-align:center;}
.grid figure{position:relative;overflow:hidden;margin:10px 1%;background:#3085a3;text-align:center;cursor:pointer;}
.grid figure img{position:relative;display:block;min-height:100%;max-width:100%;opacity:0.8;}
.grid figure figcaption{padding:2em;color:#fff;text-transform:uppercase;font-size:1.25em;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.grid figure figcaption::before,
.grid figure figcaption::after{pointer-events:none;}
.grid figure figcaption,
.grid figure figcaption > a{position:absolute;top:0;left:0;width:100%;height:100%;}
.grid figure figcaption > a{text-indent:200%;white-space:nowrap;font-size:0;opacity:0;}
.grid figure h2{word-spacing:-0.15em;font-weight:300;}
.grid figure h2 span{font-weight:800;}
.grid figure h2,
.grid figure p{margin:0;}
.grid figure p{letter-spacing:1px;font-size:68.5%;}
.lin-up-art{color:#fff;font-family:'Cairo', sans-serif;font-size:91px;font-weight:normal;letter-spacing:-1px;word-spacing:0;line-height:72.8px;text-align:center;text-transform:capitalize}
.lin-up-art-littl{color:#fff;font-family:'Cairo', sans-serif;font-size:24px;font-weight:normal;letter-spacing:-1px;word-spacing:0;line-height:72.8px;text-align:center;text-transform:capitalize}
.google-map{position:relative;padding-bottom:75%;height:0;overflow:hidden;}
.google-map iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.head-location{max-width:100%;font-family:'Cairo', sans-serif;font-size:50px;font-weight:normal;letter-spacing:-1px;word-spacing:0;line-height:72.8px;text-align:left;padding-left:12px;text-transform:capitalize;}
.fixed-nav-bar{position:fixed;top:0;left:0;right:0;min-height:100px;padding:0 25px;box-sizing:border-box;background-color:rgba(255, 255, 255, 0.02);z-index:100;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:0.35s ease;transition:0.35s ease;}
.fixed-nav-bar .logo{position:absolute;left:40px;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);text-transform:uppercase;color:#ccc;font-size:28px;font-weight:300;cursor:pointer;}
.fixed-nav-bar .logo span{color:#e78533;font-weight:600;}
.fixed-nav-bar.scrolled{min-height:80px;background-color:rgba(0, 0, 0, 0.66);box-shadow:0 0 30px 3px rgba(0, 0, 0, 0.6);}
.fixed-nav-bar.scrolled .logo{color:#000;}
.fixed-nav-bar.scrolled .menu-button-label .white-bar{background-color:#fff;}
.drop-down-container{height:15%;width:90%;left:160%;margin-top:5px;-webkit-transform:translateX(-50%);transform:translateX(-50%);-webkit-transition:0.3s ease;transition:0.3s ease;}
.drop-down-item{color:#fff;position:absolute;padding:13px;top:0;left:0;right:8px;bottom:0;background-color:#222;}
.drop-down-item:before{content:"";position:absolute;right:-8px;height:100%;width:8px;-webkit-transition:0.25s ease;transition:0.25s ease;background:-webkit-linear-gradient(right, #e78533 50%, #222 50%);background:linear-gradient(to left, #fff 50%, #222 50%);background-size:200% 100%;background-position:left;}
.drop-down-item:hover::before{background-position:right;}
.the-bass{position:fixed;height:0px;width:360px;right:0;top:100px;background-color:rgba(0, 0, 0, 0.7);-webkit-transition:0.35s ease, height 0.35s 0.3s ease;transition:0.35s ease, height 0.35s 0.3s ease;z-index:90;}
.the-bass.scrolled{top:60px;}
.the-bass.dropped{height:60vh;padding:5px 0;-webkit-transition:0.35s ease;transition:0.35s ease;}
.the-bass.dropped .drop-down-container{left:50%;}
.the-bass.dropped .drop-down-container:nth-child(1){-webkit-transition:0.3s ease, left 0.4s 0.4s ease;transition:0.3s ease, left 0.4s 0.4s ease;}
.the-bass.dropped .drop-down-container:nth-child(2){-webkit-transition:0.3s ease, left 0.4s 0.46s ease;transition:0.3s ease, left 0.4s 0.46s ease;}
.the-bass.dropped .drop-down-container:nth-child(3){-webkit-transition:0.3s ease, left 0.4s 0.52s ease;transition:0.3s ease, left 0.4s 0.52s ease;}
.the-bass.dropped .drop-down-container:nth-child(4){-webkit-transition:0.3s ease, left 0.4s 0.58s ease;transition:0.3s ease, left 0.4s 0.58s ease;}
.the-bass.dropped .drop-down-container:nth-child(5){-webkit-transition:0.3s ease, left 0.4s 0.64s ease;transition:0.3s ease, left 0.4s 0.64s ease;}
.the-bass.dropped .drop-down-container:nth-child(6){-webkit-transition:0.3s ease, left 0.4s 0.7s ease;transition:0.3s ease, left 0.4s 0.7s ease;}
.menu-button-label{position:absolute;height:48px;width:48px;top:50%;right:25px;-webkit-transform:translateY(-50%);transform:translateY(-50%);-webkit-transition:0.4s ease;transition:0.4s ease;}
.menu-button-label .white-bar{position:absolute;height:2px;width:66%;background-color:#ccc;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);-webkit-transition:0.4s ease, width 0.3s ease;transition:0.4s ease, width 0.3s ease;}
.menu-button-label .white-bar:nth-child(1){top:24%;}
.menu-button-label .white-bar:nth-child(2),
.menu-button-label .white-bar:nth-child(3){top:47%;}
.menu-button-label .white-bar:nth-child(4){top:71%;}
#menuButton{display:none;}
#menuButton:checked+ .menu-button-label .white-bar:nth-child(1),
#menuButton:checked+ .menu-button-label .white-bar:nth-child(4){width:0%;}
#menuButton:checked+ .menu-button-label .white-bar:nth-child(2){-webkit-transform:translateX(-50%) rotate(45deg);transform:translateX(-50%) rotate(45deg);}
#menuButton:checked+ .menu-button-label .white-bar:nth-child(3){-webkit-transform:translateX(-50%) rotate(-45deg);transform:translateX(-50%) rotate(-45deg);}
.rela-block{display:block;position:relative;overflow:hidden;}
.cover-before::before{content:"";position:absolute;top:0;bottom:0;left:0;right:0;}
@media (min-width:980px){#menuButton{display:none;}
.white-bar{display:none;}
.menu-button-label{display:none;}
.the-base{display:none;}
}
.loction{padding-left:10px;}
.background03{background-image:url(../images/imagefas.jpg);background-repeat:no-repeat;background-size:cover;background-attachment:fixed;}
@media (max-width:320px){.lin-up-art p{font-size:33px;}
.lin-up p{font-size:44px;}
.the-bass{width:130px;}
}
@media (max-width:980px){.lin-up-art p{font-size:25px;}
.the-bass{width:130px;}
}
